input[type=text] {
    padding: 10px 8px;
    margin: 25px 0 20px 0;
    display: block;
    border:transparent;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
    &:focus{
        border-bottom: 2px solid red;
    }
}
.vg-field {
    position:relative;
}
label {
    color:#666;
    text-transform: uppercase;
    font-size:16px;
    font-weight:normal;
    pointer-events:none;
    position:absolute;
    top:10px;
    left:8px;
    transition:all 0.2s ease; 
    -moz-transition:all 0.2s ease; 
    -webkit-transition:all 0.2s ease;
}
input[type=text]:focus ~ label, input[type=text]:valid ~ label {
    color:black;
    font-size:12px;
    top:-10px;
    left:0px;
}