/* Style du formulaire */

.vg-form {
    display:block;
    width:100%;
}

/* Style du input de type "text" */

input[type="text"],input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"]{
    width: 30vw;
    padding: 10px 8px 10px 0;
    margin: 22px 0 10px 0;
    display: block;
    border:transparent;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    transition: all 0.5s ease;

    &:focus{
        border-bottom: 1px solid red;
    }

}
/* Style du input de type "radio" */

.vg-field .radio-input {
    display:block;
    padding:10px
}
.vg-field .radio-list-title {
    width:0;
    padding:10px 0;
}
.vg-field .radio-input label {
    padding-left:10px;
}

/* Style du input de type "select" */

.vg-field .select-field, .vg-field .select-field:focus {

    font-size:14px;
    width: 30vw;
    height:40px;
    padding: 10px 5px 10px 0;
    margin: 15px 0 10px 0;
    background-color:transparent;
    border:transparent;
    border-bottom: 1px solid #ccc;
    outline:0;
    background: url(../img/downarrow.png) 97%/4% no-repeat transparent;

}

.vg-field .select-field option {
    padding:6px 5px;
    box-shadow:none;
}
.vg-field .select-field option:hover {
    background-color:red;
}

/* Style du label */

.vg-field {
    position:relative;
    // width:30vw;
    margin:0 auto;
}
input ~ .label-text {
    color:#666;
    font-size:16px;
    font-weight:normal;
    pointer-events:none;
    position:absolute;
    top:10px;
    transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
}

/* Style du .label-text actif (focus ou valide) */

input:focus ~ .label-text, input:valid ~ .label-text {
    color:black;
    font-size:12px;
    top:-10px;
}

/* Informations du champ */

.vg-field .info {
    font-size:12px;
    color:#ccc;
}

.hide{
    display:none;
}