.menu {

	display:flex;
	background-color:#d50000;
  color:white;
	padding:10px 30px 10px 0;
  margin-bottom:50px;
    
	& ul {
    	display: flex;
    	flex-direction: row;
      	justify-content: flex-end;
    	width: 100%;

    	& li {
    		flex-direction: row;
      		justify-content: flex-end;
      		padding:10px 0 10px 20px;
    	}
  	}

}
